################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SocksTun/v15
/Backup
/bin/Debug
/obj/Debug
/TestConsole
